<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.healthyfish.healthyfish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //读取网络是否可用
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_healthyfish"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_healthyfish"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">

        <!-- 屏幕自适应框架设计稿长宽 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1900" />

        <!-- android:windowSoftInputMode="adjustPan|stateHidden"控制选项菜单不被输入法往上顶 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录页面 -->
        <activity android:name=".ui.activity.Login" />
        <!-- 注册页面 -->
        <activity android:name=".ui.activity.Register" />

        <!--健康咨询（chat）-->
        <activity android:name=".utils.chat_utils.PicViewActivity" />
        <activity android:name=".ui.activity.interrogation.HealthyChat"></activity>

        <!-- 病历夹页面 -->
        <activity android:name=".ui.activity.medicalrecord.AllMedRec" />

        <!-- 问诊选择医生页面 -->
        <activity android:name=".ui.activity.interrogation.ChoiceDoctor" />
        <!-- 问诊选择服务页面 -->
        <activity android:name=".ui.activity.interrogation.ChoiceService" />
        <!-- 问诊送心意页面 -->
        <activity android:name=".ui.activity.interrogation.SendMind" />
        <!-- 问诊支付页面 -->
        <activity android:name=".ui.activity.interrogation.Pay" />
        <!-- 问诊支付成功页面 -->
        <activity android:name=".ui.activity.interrogation.PaySuccess" />
        <!-- 问诊购买服务支付成功页面 -->
        <activity android:name=".ui.activity.interrogation.PayServiceSuccess" />
        <!-- 问诊服务页面 -->
        <activity android:name=".ui.activity.interrogation.InterrogationService" />
        <!-- 问诊完善档案页面 -->
        <activity android:name=".ui.activity.interrogation.PerfectArchives" />
        <!-- 问诊选择档案页面 -->
        <activity android:name=".ui.activity.interrogation.ChoiceDocument" />

        <!-- 新建病历夹页面 -->
        <activity
            android:name=".ui.activity.medicalrecord.NewMedRec"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 添加病历标签 -->

        <activity
            android:name=".ui.activity.medicalrecord.Lable"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 用户信息 -->

        <activity
            android:name=".ui.activity.medicalrecord.PatientInfo"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 登录注册忘记密码页面 -->
        <activity android:name=".ui.activity.ForgetPassword" />
        <!-- 登录注册修改密码页面 -->
        <activity android:name=".ui.activity.ChangePassword" />
        <!-- 登录注册修改密码成功页面 -->
        <activity android:name=".ui.activity.ChangePasswordSuccess" />
        <!-- 登录注册填写昵称密码页面 -->
        <activity android:name=".ui.activity.RegisterPassword" />
        <!-- 登录注册填写身份证号和选择性别页面 -->
        <activity android:name=".ui.activity.RegisterInformation" />
        <!-- 登录注册注册成功页面 -->
        <activity android:name=".ui.activity.RegisterSuccess" />
        <!-- 个人中心我的健康信息页面 -->
        <activity android:name=".ui.activity.personal_center.HealthInformation" />
        <!-- 个人中心个人信息页面 -->
        <activity android:name=".ui.activity.personal_center.PersonalInformation" />
        <!-- 个人中心我的消息页面 -->
        <activity android:name=".ui.activity.personal_center.MyNews" />
        <!-- 个人中心我的关注页面 -->
        <activity android:name=".ui.activity.personal_center.MyConcern" />
        <!-- 个人中心意见反馈页面 -->
        <activity android:name=".ui.activity.personal_center.Feedback" />
        <!-- 个人中心设置页面 -->
        <activity android:name=".ui.activity.personal_center.SetUp" />

        <!-- 图片选择器 -->
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.medicalrecord.CreateCourse"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.foamtrace.photopicker.PhotoPreviewActivity" />

        <activity android:name=".ui.activity.medicalrecord.SelectMedRec" />
        <activity android:name=".ui.activity.medicalrecord.SelectDoctor" />
        <activity android:name=".ui.activity.medicalrecord.ShareSuccess" />
        <activity android:name=".ui.activity.Inspection_report.InspectionReport" />
        <activity android:name=".ui.activity.appointment.AppointmentHome" />
        <activity android:name=".ui.activity.appointment.ChooseHospital" />
        <activity android:name=".ui.activity.appointment.DoctorDetail" />

        <!-- 健康圈发帖页面 -->
        <activity android:name=".ui.activity.healthy_circle.HealthyCirclePosting" />
        <!-- 健康圈选择社区页面 -->
        <activity android:name=".ui.activity.healthy_circle.SelectCommunity" />
        <!-- 挂号模块选择科室页面 -->
        <activity android:name=".ui.activity.appointment.SelectDepartments" />
        <!-- 挂号模块确认预约信息页面 -->
        <activity android:name=".ui.activity.appointment.ConfirmReservationInformation" />
        <!-- 挂号模块新建就诊人页面 -->
        <activity android:name=".ui.activity.appointment.NewVisitingPerson" />
        <!-- 挂号模块更换就诊人页面 -->
        <activity android:name=".ui.activity.appointment.ChangeVisitingPerson" />
        <!-- 挂号模块根据科室选择医生页面 -->
        <activity android:name=".ui.activity.appointment.DepartmentDoctorList" />

        <!-- 健康管理 -->
        <activity android:name=".ui.activity.healthy_management.MainIndexHealthyManagement" />
        <activity android:name=".ui.activity.healthy_management.IndexPhysicalIdentification" />
        <activity android:name=".ui.activity.healthy_management.PhyIdeQuestionnaireTest" />
        <activity android:name=".ui.activity.healthy_management.PhyIdeInfraredTest" />
        <activity android:name=".ui.activity.healthy_management.MakeWholeHealthyScheme" />
        <activity android:name=".ui.activity.healthy_management.GetRecommendedHealthyScheme" />
        <activity android:name=".ui.activity.healthy_management.GetUserCustomScheme" />
        <activity android:name=".ui.activity.healthy_management.SelectPhyIdeHealthyScheme" />
        <activity android:name=".ui.activity.healthy_management.StartingSchemeDate" />
        <activity android:name=".ui.activity.healthy_management.PreviewMyHealthyScheme" />
        <activity android:name=".ui.activity.healthy_management.MyHealthyScheme" />
        <activity android:name=".ui.activity.healthy_management.SinglePlanDetail" />
        <!-- 健康管理体质报告页面 -->
        <activity android:name=".ui.activity.healthy_management.PhyIdeReport" />
        <activity android:name=".ui.activity.healthy_management.SelectHealthyScheme" />

        <!-- 健康管理自定义计划具体安排页面 -->
        <activity android:name=".ui.activity.healthy_management.ConcreteArrangement" />

        <!-- 首页健康资讯详情页面 -->
        <activity android:name=".ui.activity.HealthNews" />
        <!-- 首页更多健康资讯页面 -->
        <activity android:name=".ui.activity.MoreHealthNews" />
        <!-- 问诊搜索结果显示页面 -->
        <activity android:name=".ui.activity.SearchResult" />
        <!-- 电子处方 -->
        <activity android:name=".ui.activity.Inspection_report.MyPrescription" />

        <service
            android:name=".service.UploadImages"
            android:exported="false"></service>
        <!--个人中心>个人信息>修改个人信息-->
        <activity android:name=".ui.activity.personal_center.ChangePersonalInformation" />
        <!--问诊选择科室页面-->
        <activity android:name=".ui.activity.interrogation.ChoiceDepartment" />
    </application>

</manifest>